Hello ${firstName}!
A patient account containing the following information has been created for you:
First name: ${firstName}
Last name: ${lastName}
Age: ${age}
Address: ${address}
Email: ${email}
Phone number: ${phoneNumber}

Have a nice day!