Hello ${patientName}!
Do not forget about your appointment:
Doctor: ${doctorName}
When: ${date}
Start Hour: ${startTime}
End Hour: ${endTime}
Cause: ${cause}

Remember you can cancel your appointment anytime, excepting one hour before it's start time.
We'll see you there!